body {
  margin: 0 auto 0 auto;
  width: 1400px; }
  body p, body a {
    font: 14px Arial; }
  body a:link, body a:visited, body a:hover, body a:active {
    color: white; }

header {
  display: block;
  background: #dcdcdc;
  padding: 65px 150px 75px 210px;
  color: #777777; }
  header div {
    display: inline; }
  header #name {
    float: left;
    width: 280px;
    margin-right: 430px; }
    header #name #img {
      width: 100px;
      height: 100px;
      background: #777777;
      float: left;
      margin-right: 12px; }
    header #name h1 {
      display: inline;
      position: relative;
      top: 10px;
      padding: 0;
      margin: 0;
      font: 30px Arial;
      font-weight: 700;
      line-height: 20px; }
    header #name p {
      display: inline;
      position: relative;
      top: 20px;
      font-weight: 600;
      color: #919191; }
  header #phone {
    position: relative;
    top: 0; }
    header #phone p {
      font: 33px/46px Verdana;
      margin: 0;
      letter-spacing: -3px; }

.list, section aside ul, footer ul {
  list-style-type: none;
  margin: 0;
  padding: 17px 15px 29px 15px; }

nav {
  background: #777777;
  text-align: center;
  color: white; }
  nav li {
    display: inline;
    padding: 0px 15px;
    font-size: 20px; }
  nav li:not(:last-child) {
    border-right: solid 2px white; }
  nav a {
    font: 26px Verdana; }

.img2 {
  position: relative;
  overflow: hidden;
  width: 1400px;
  height: 400px;
  background: #f8f8f8; }
  .img2 .r1 {
    position: absolute;
    opacity: 0.35;
    margin-top: 105px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    width: 326px;
    height: 326px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #8088de; }
  .img2 .r2 {
    position: absolute;
    opacity: 0.35;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 331px;
    width: 174px;
    height: 174px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #9cbb92; }
  .img2 .r3 {
    position: absolute;
    opacity: 0.35;
    margin-top: 52px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 486px;
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f0ab75; }
  .img2 .r4 {
    position: absolute;
    opacity: 0.35;
    margin-top: 72px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 845px;
    width: 226px;
    height: 226px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #8088de; }
  .img2 .r5 {
    position: absolute;
    opacity: 0.35;
    margin-top: -65px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 1030px;
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f0ab75; }
  .img2 .r6 {
    position: absolute;
    opacity: 0.35;
    margin-top: 199px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 1152px;
    width: 178px;
    height: 178px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #9cbb92; }

section {
  display: table;
  width: 1000px;
  padding: 30px 0px 195px 210px; }
  section #row {
    display: table-row; }
  section aside {
    display: table-cell;
    color: white; }
    section aside #news {
      background: #777777;
      width: 260px;
      padding: 13px 55px 120px 34px; }
    section aside ul {
      margin: 16px 0px;
      padding: 0; }
    section aside li {
      line-height: 23px;
      padding-bottom: 11px; }
    section aside h1 {
      font: 900 37px Arial;
      margin-top: 2px;
      margin-bottom: 28px; }
    section aside p {
      font: oblique 14px Georgia;
      margin-bottom: 0; }
    section aside a {
      font-weight: 500;
      font-size: 13.5px; }
    section aside .active {
      float: right;
      margin-top: 5px; }
  section article {
    display: table-cell;
    display: block;
    color: #777777;
    margin-left: 60px;
    padding-right: 40px; }
    section article h1 {
      font: 500 37px Verdana;
      margin-top: 8px;
      margin-bottom: 19px;
      letter-spacing: -1px; }
    section article p {
      margin: 20px 0px;
      font: 12px/22px Verdana; }

nav a:link, section aside ul a:link {
  text-decoration: none; }
nav a:visited, section aside ul a:visited {
  text-decoration: none; }
nav a:hover, section aside ul a:hover {
  text-decoration: underline; }
nav a:active, section aside ul a:active {
  text-decoration: underline; }

footer {
  display: block;
  background: #777777;
  color: white; }
  footer div {
    display: inline-block; }
  footer #copyright {
    float: left;
    padding: 34px 0px 0px 210px; }
    footer #copyright p {
      margin-bottom: 0; }
  footer #nav {
    padding: 40px 0px 0px 145px; }
  footer ul {
    line-height: 26px;
    padding: 0; }
  footer #info {
    float: right;
    width: 220px;
    padding: 47px 215px 0px 0px; }
    footer #info #image {
      display: inline;
      float: left; }
    footer #info h1 {
      display: inline;
      padding: 0;
      margin: 0;
      font: 14px Arial;
      line-height: 20px; }
    footer #info b {
      text-decoration: underline;
      font-weight: 400; }
    footer #info p {
      display: inline;
      margin-top: 8px; }

/*# sourceMappingURL=style.css.map */
