body {
  margin: 0 auto 0 auto;
  width: 1400px; }
  body p, body a {
    font: 14px Arial; }
  body a:link, body a:visited, body a:hover, body a:active {
    color: white; }

header {
  display: block;
  background: #dcdcdc;
  padding: 65px 150px 75px 210px;
  color: #777777; }
  header .name {
    display: inline;
    float: left;
    width: 280px;
    margin-right: 430px; }
    header .name img {
      display: inline;
      float: left;
      margin-right: 12px; }
    header .name h1 {
      display: inline;
      position: relative;
      top: 10px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      font: 30px Arial;
      font-weight: 700;
      line-height: 20px; }
    header .name p {
      display: inline;
      position: relative;
      top: 20px;
      font-weight: 600;
      color: #919191; }
  header #phone {
    display: inline;
    position: relative;
    top: 0px; }
    header #phone p {
      font: 33px/46px Verdana;
      margin: 0px 0px 0px 0px;
      letter-spacing: -3px; }

nav {
  background: #777777;
  text-align: center;
  color: white; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 17px 15px 29px 15px; }
  nav li {
    display: inline;
    padding: 0px 15px;
    font-size: 20px; }
  nav li:not(:last-child) {
    border-right: solid 2px white; }
  nav a {
    font: 26px Verdana; }

section {
  display: table;
  width: 1000px;
  padding: 25px 0px 195px 210px; }
  section #row {
    display: table-row; }
  section aside {
    display: table-cell;
    color: white; }
    section aside #news {
      background: #777777;
      width: 260px;
      padding: 13px 55px 120px 34px; }
    section aside ul {
      list-style-type: none;
      padding: 0; }
    section aside li {
      line-height: 26px;
      padding-bottom: 5px; }
    section aside h1 {
      font: 900 37px Arial;
      margin-top: 2px;
      margin-bottom: 28px; }
    section aside p {
      font: oblique 14px Georgia;
      margin-bottom: 0; }
    section aside a {
      font-weight: 500;
      font-size: 13.5px; }
    section aside .active {
      float: right;
      margin-top: 5px; }
  section article {
    display: table-cell;
    display: block;
    color: #777777;
    margin-left: 60px;
    padding-right: 40px; }
    section article h1 {
      font: 500 37px Verdana;
      margin-top: 8px;
      margin-bottom: 19px;
      letter-spacing: -1px; }
    section article p {
      margin: 20px 0px;
      font: 12px/22px Verdana; }

nav a:link, section aside ul a:link {
  text-decoration: none; }
nav a:visited, section aside ul a:visited {
  text-decoration: none; }
nav a:hover, section aside ul a:hover {
  text-decoration: underline; }
nav a:active, section aside ul a:active {
  text-decoration: underline; }

footer {
  display: table;
  width: 100%;
  background: #777777;
  color: white; }
  footer #row {
    display: table-row; }
  footer div {
    display: table-cell; }
  footer #copyright {
    padding: 35px 0px 0px 210px; }
    footer #copyright p {
      margin-bottom: 0; }
  footer #nav {
    padding: 0px 183px 0px 0px; }
  footer ul {
    list-style-type: none;
    line-height: 26px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; }
  footer #info {
    width: 250px; }
    footer #info h1 {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      font: 14px Arial;
      line-height: 20px; }
    footer #info b {
      text-decoration: underline;
      font-weight: 400; }
    footer #info p {
      margin-top: 8px; }

/*# sourceMappingURL=style.css.map */
