@import 'colors';

body {
	margin: 0 auto 0 auto;
	width: 1400px;
	p, a {
		font: 14px Arial;
	}

	a:link, a:visited, a:hover, a:active{
    	color: white;
	}
}

header {
	display: block;
	
	background: $light-grey;
	padding: 65px 150px 75px 210px;

	color: $grey;

	.name {
		display: inline;
		float: left;
		width: 280px;
		
		
		img {
			display: inline;
			float: left;
			margin-right: 12px;
		}

		h1 {
			display: inline;

			position: relative;
			top: 10px;

			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px; 
			font: 30px Arial;
			font-weight: 700;
			line-height: 20px;
		}

		p {
			display: inline;
			position: relative;
			top: 20px;

			font-weight: 600;
			color: lighten($grey, 10%);
		}

		margin-right: 430px;
	}

	#phone {
		display: inline;
		
		position: relative;
		top: 0px;

		p {
			font: 33px/46px Verdana;
			margin: 0px 0px 0px 0px;
			letter-spacing: -3px;
		}
	}
}

nav {
	background: $grey;
	
	text-align: center;
	
	color: white;


	ul {
		list-style-type: none;
    	margin: 0;
    	padding: 17px 15px 29px 15px;
	}

	li {
		display: inline;
		padding: 0px 15px;
		font-size: 20px;
		
	}

	li:not(:last-child) { 
    	border-right: solid 2px white;
	}

	a {
		font: 26px Verdana;
			
	}
}

section {
	
	display: inline-block;
	width: 1000px;
	

	padding: 25px 0px 200px 210px;
	
	aside {
		float: left;
		margin-right: 58px;
		width: 350px;
		background: $grey;

		color: white;
	}

	ul {
		list-style-type: none;
	}

	article {

		color: $grey;
		
		p {
			font: 12px/22px Verdana;
		}
	}
}

nav, section aside ul {
	a:link {
    	text-decoration: none;
	}

	a:visited {
	    text-decoration: none;
	}

	a:hover {
	    text-decoration: underline;
	}

	a:active {
	    text-decoration: underline;
	}
}

footer {
	display: inline-block;
	width: 100%;
	background: $grey;

	color: white;

	div {
		display: inline-block;
	}

	#nav {
		ul {
			list-style-type: none;
		}
	}

	#info {
		@extend .name;
		float: right; 

		img {
			float: left;
		}
	}
}
