@import 'colors';

body {
	margin: 0 auto 0 auto;
	width: 1400px;
	p, a {
		font: 14px Arial;
	}

	a:link, a:visited, a:hover, a:active{
		color: white;
	}
}

header {
	display: block;
	
	background: $light-grey;
	padding: 65px 150px 75px 210px;
	color: $grey;

	div {
		display: inline;
	}

	#name {
		float: left;
		width: 280px;
		
		#img {
			width: 100px;
			height: 100px;
			background: $grey;
			float: left;
			margin-right: 12px;
		}

		h1 {
			display: inline;

			position: relative;
			top: 10px;

			padding: 0;
			margin: 0; 
			font: 30px Arial;
			font-weight: 700;
			line-height: 20px;
		}

		p {
			display: inline;
			position: relative;
			top: 20px;

			font-weight: 600;
			color: lighten($grey, 10%);
		}
		
		margin-right: 430px;
	}

	#phone {
		
		position: relative;
		top: 0;

		p {
			font: 33px/46px Verdana;
			margin: 0;
			letter-spacing: -3px;
		}
	}
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 17px 15px 29px 15px;
}

nav {
	background: $grey;
	text-align: center;
	color: white;

	li {
		display: inline;
		padding: 0px 15px;
		font-size: 20px;	
	}

	li:not(:last-child) {
		border-right: solid 2px white;
	}

	a {
		font: 26px Verdana;	
	}
}

.img2 {
	position: relative;
	overflow: hidden;
	width: 1400px;
	height: 400px;
	background: $white;

	@mixin border-radius($n, $e, $s, $w, $size, $radius) {
		position: absolute;
		opacity: 0.35;

		margin-top: $n;
		margin-right: $e;
		margin-bottom: $s;
		margin-left: $w;

		width: $size;
		height: $size;
		-moz-border-radius: $radius; 
		-webkit-border-radius: $radius; 
		border-radius: $radius;
	}

	.r1 {
		@include border-radius(105px, 0px, 0px, 80px, 326px, 50%);
		background: darken($blue, 20%);	
	}
	.r2 {
		@include border-radius(50px, 0px, 0px, 331px, 174px, 50%);
		background: darken($green, 20%);	
	}
	.r3 {
		@include border-radius(52px, 0px, 0px, 486px, 300px, 50%);
		background: darken($red, 20%);
	}
	.r4 {
		@include border-radius(72px, 0px, 0px, 845px, 226px, 50%);
		background: darken($blue, 20%);
	}
	.r5 {
		@include border-radius(-65px, 0px, 0px, 1030px, 300px, 50%);
		background: darken($red, 20%);
	}
	.r6 {
		@include border-radius(199px, 0px, 0px, 1152px, 178px, 50%);
		background: darken($green, 20%);
	}
}

section {
	display: table;
	width: 1000px;
	padding: 30px 0px 195px 210px;

	#row {
		display: table-row;
	}

	aside {
		display: table-cell;
		color: white;

		#news{
			background: $grey;
			width: 260px;
			padding: 13px 55px 120px 34px;
		}

		ul {
			@extend .list;
			margin: 16px 0px;
			padding: 0;
		}

		li {
			line-height: 23px;
			padding-bottom: 11px;
		}

		h1 {
			font: 900 37px Arial;
			margin-top: 2px;
			margin-bottom: 28px;
		}

		p {
			font: oblique 14px Georgia;
			margin-bottom: 0;
		}

		a {
			font-weight: 500;
			font-size: 13.5px;
		}

		.active {
			float: right;
			margin-top: 5px;
		}
	}

	article {
		display: table-cell;
		display: block;
		color: $grey;
		
		margin-left: 60px;
		padding-right: 40px;

		h1 {
			font: 500 37px Verdana;
			margin-top: 8px;
			margin-bottom: 19px;
			letter-spacing: -1px;
		}

		p {
			margin: 20px 0px;
			font: 12px/22px Verdana;
		}
	}
}

nav, section aside ul {
	a:link {
		text-decoration: none;
	}

	a:visited {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	a:active {
		text-decoration: underline;
	}
}

footer {
	display: block;
	background: $grey;
	color: white;

	div {
		display: inline-block;
	}

	#copyright {
		float: left;
		padding: 34px 0px 0px 210px;

		p {
			margin-bottom: 0;
		}
	}

	#nav {
		padding: 40px 0px 0px 145px;
	}

	ul {
		@extend .list;
		line-height: 26px;
		padding: 0;
	}

	#info {
		float: right;
		width: 220px;
		padding: 47px 215px 0px 0px;

		#image {
			display: inline;
			float: left;
		}

		h1 {
			display: inline;
			padding: 0;
			margin: 0; 
			font: 14px Arial;
			
			line-height: 20px;
		}

		b {
			text-decoration: underline;
			font-weight: 400;
		}

		p {
			display: inline;
			margin-top: 8px;	
		}
	}
}
